-i https://pypi.org/simple
aniso8601==3.0.2
asn1crypto==0.24.0
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
flask-restplus==0.12.1
flask==1.0.2
gunicorn==19.9.0
idna==2.7
lz4==2.1.6
itsdangerous==0.24
jinja2==2.10
jsonschema==2.6.0
logstash-formatter==0.5.17
markupsafe==1.0
pycparser==2.19; python_version >= '2.7'
pyjwt==1.6.4
pytz==2018.5
requests==2.19.1
requests-mock==1.5.2
six==1.11.0
urllib3==1.23; python_version != '3.1.*'
werkzeug==0.14.1
pymacaron
pymtest
pymacaron-docker
pymacaron-async
pymacaron-gcp